pre {
  --bg: hsl(270, 10%, 20%);
  --fg: hsl(0, 0%, 90%);
  --gray: hsl(90, 2%, 70%);
  --green: hsl(75, 70%, 70%);
  --orange: hsl(29, 80%, 60%);
  --dark-blue: hsl(214, 45%, 70%);
  --light-blue: hsl(184, 55%, 75%);
  --purple: hsl(275, 80%, 80%);
  --yellow: hsl(47, 100%, 80%);
  --red: hsl(360, 67%, 50%);

  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--gray);
  border-radius: 3px;
  padding: 8pt;
  overflow: auto;
  margin: 1.2em;
}

pre.src {
  position: relative;
  overflow: auto;
}

pre.src:before {
  display: none;
  position: absolute;
  top: -8px;
  right: 12px;
  padding: 3px;
  color: var(--bg);
  background-color: var(--fg);
}

pre.src:hover:before { display: inline; margin-top: 14px;}
/* Languages per Org manual */
pre.src-asymptote:before { content: 'Asymptote'; }
pre.src-awk:before { content: 'Awk'; }
pre.src-authinfo::before { content: 'Authinfo'; }
pre.src-C:before { content: 'C'; }
/* pre.src-C++ doesn't work in CSS */
pre.src-clojure:before { content: 'Clojure'; }
pre.src-css:before { content: 'CSS'; }
pre.src-D:before { content: 'D'; }
pre.src-ditaa:before { content: 'ditaa'; }
pre.src-dot:before { content: 'Graphviz'; }
pre.src-calc:before { content: 'Emacs Calc'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-fortran:before { content: 'Fortran'; }
pre.src-gnuplot:before { content: 'gnuplot'; }
pre.src-haskell:before { content: 'Haskell'; }
pre.src-hledger:before { content: 'hledger'; }
pre.src-java:before { content: 'Java'; }
pre.src-js:before { content: 'Javascript'; }
pre.src-latex:before { content: 'LaTeX'; }
pre.src-ledger:before { content: 'Ledger'; }
pre.src-lisp:before { content: 'Lisp'; }
pre.src-lilypond:before { content: 'Lilypond'; }
pre.src-lua:before { content: 'Lua'; }
pre.src-matlab:before { content: 'MATLAB'; }
pre.src-mscgen:before { content: 'Mscgen'; }
pre.src-ocaml:before { content: 'Objective Caml'; }
pre.src-octave:before { content: 'Octave'; }
pre.src-org:before { content: 'Org mode'; }
pre.src-oz:before { content: 'OZ'; }
pre.src-plantuml:before { content: 'Plantuml'; }
pre.src-processing:before { content: 'Processing.js'; }
pre.src-python:before { content: 'Python'; }
pre.src-R:before { content: 'R'; }
pre.src-ruby:before { content: 'Ruby'; }
pre.src-sass:before { content: 'Sass'; }
pre.src-scheme:before { content: 'Scheme'; }
pre.src-screen:before { content: 'Gnu Screen'; }
pre.src-sed:before { content: 'Sed'; }
pre.src-sh:before { content: 'shell'; }
pre.src-sql:before { content: 'SQL'; }
pre.src-sqlite:before { content: 'SQLite'; }
/* additional languages in org.el's org-babel-load-languages alist */
pre.src-forth:before { content: 'Forth'; }
pre.src-io:before { content: 'IO'; }
pre.src-J:before { content: 'J'; }
pre.src-makefile:before { content: 'Makefile'; }
pre.src-maxima:before { content: 'Maxima'; }
pre.src-perl:before { content: 'Perl'; }
pre.src-picolisp:before { content: 'Pico Lisp'; }
pre.src-scala:before { content: 'Scala'; }
pre.src-shell:before { content: 'Shell Script'; }
pre.src-ebnf2ps:before { content: 'ebfn2ps'; }
/* additional language identifiers per "defun org-babel-execute"
   in ob-*.el */
pre.src-cpp:before  { content: 'C++'; }
pre.src-abc:before  { content: 'ABC'; }
pre.src-coq:before  { content: 'Coq'; }
pre.src-groovy:before  { content: 'Groovy'; }
/* additional language identifiers from org-babel-shell-names in
   ob-shell.el: ob-shell is the only babel language using a lambda to put
   the execution function name together. */
pre.src-bash:before  { content: 'bash'; }
pre.src-csh:before  { content: 'csh'; }
pre.src-ash:before  { content: 'ash'; }
pre.src-dash:before  { content: 'dash'; }
pre.src-ksh:before  { content: 'ksh'; }
pre.src-mksh:before  { content: 'mksh'; }
pre.src-posh:before  { content: 'posh'; }
/* Additional Emacs modes also supported by the LaTeX listings package */
pre.src-ada:before { content: 'Ada'; }
pre.src-asm:before { content: 'Assembler'; }
pre.src-caml:before { content: 'Caml'; }
pre.src-delphi:before { content: 'Delphi'; }
pre.src-html:before { content: 'HTML'; }
pre.src-idl:before { content: 'IDL'; }
pre.src-mercury:before { content: 'Mercury'; }
pre.src-metapost:before { content: 'MetaPost'; }
pre.src-modula-2:before { content: 'Modula-2'; }
pre.src-pascal:before { content: 'Pascal'; }
pre.src-ps:before { content: 'PostScript'; }
pre.src-prolog:before { content: 'Prolog'; }
pre.src-simula:before { content: 'Simula'; }
pre.src-tcl:before { content: 'tcl'; }
pre.src-tex:before { content: 'TeX'; }
pre.src-plain-tex:before { content: 'Plain TeX'; }
pre.src-verilog:before { content: 'Verilog'; }
pre.src-vhdl:before { content: 'VHDL'; }
pre.src-xml:before { content: 'XML'; }
pre.src-nxml:before { content: 'XML'; }
/* add a generic configuration mode; LaTeX export needs an additional
   (add-to-list 'org-latex-listings-langs '(conf " ")) in .emacs */
pre.src-conf:before { content: 'Configuration File'; }

.org-keyword,
.org-org-document-info-keyword,
.org-nxml-processing-instruction-target,
.org-css-property,
.org-json-mode-object-name {
  color: var(--green);
}

.org-function-name,
.org-nxml-element-local-name,
.org-css-selector {
  color: var(--orange);
}

.org-constant,
.org-org-level-1,
.org-type {
  color: var(--dark-blue);
}

.org-string,
.org-negation-char,
.org-sh-escaped-newline {
  color: var(--light-blue);
}

.org-builtin,
.org-org-level-2,
.org-nxml-processing-instruction-content,
.org-nxml-element-prefix,
.org-nxml-namespace-attribute-xmlns,
.org-doc,
.org-regexp-grouping-construct,
.org-sh-quoted-exec {
  color: var(--purple);
}

.org-org-document-title {
  color: var(--orange);
  font-size: 140%;
  font-weight: bold;
}

.org-bold {
  font-weight: bold;
  text-decoration: underline;
}

.org-italic {
  font-style: italic;
  text-decoration: underline;
}

.org-verbatim,
.org-org-meta-line {
  color: var(--gray);
}

.org-org-block-begin-line,
.org-org-block-end-line,
.org-comment-delimiter,
.org-comment {
  color: var(--gray);
  font-style: italic;
}

.org-org-block,
.org-nxml-tag-slash,
.org-nxml-tag-delimiter,
.org-nxml-processing-instruction-delimiter,
.org-nxml-tag-delimiter,
.org-nxml-element-color,
.org-nxml-namespace-attribute-color {
  color: var(--fg);
}

.org-org-tag {
  color: var(--dark-blue);
  font-weight: bold;
}

.org-org-link a {
  color: var(--dark-blue);
  text-decoration: underline;
}

.org-nxml-attribute-local-name,
.org-nxml-namespace-attribute-prefix,
.org-variable-name,
.org-regexp-grouping-backslash {
  color: var(--yellow);
}

.org-warning {
  color: var(--red);
  font-weight: bold;
}

.org-sgml-namespace {
  color: var(--purple);
}
