img {
    max-width: 100%;
}

blockquote p {
    font-size: 0.9em;
}

blockquote::before {
    content: '>';
    position: absolute;
    margin-left: -12px;
}

#preamble {
    display: flex;
    justify-content: flex-end;
}

.tag {
    background-color: unset;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
}

.tag span {
    background-color: #eee;
    padding: 4px;
    margin: 4px;
}

h2, h3, h4, h5, h6 {
    display: flex;
    align-items: center;
}

h2 span, h3 span, h4 span, h5 span, h6 span {
    margin-right: 1em
}

ul.org-ul li {
    margin: 1em 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 5em;
}

li {
    margin: 1em 0;
}

li p a {
    margin: 0;
}

p a {
    margin: 0 0.5em;
}

a {
    text-decoration: none;
    border-bottom: 1px solid white;
}

a:hover {
    color: hsl(32, 100%, 87%);
    border-bottom: 1px solid hsl(32, 100%, 87%);
}

