#content {
    max-width: 60em;
    margin: auto;
}

.title  {
    text-align: center;
    margin-bottom: .2em;
}

.subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
    margin-top:0;
}

.todo   {
    font-family: monospace;
    color: red;
}

.done   {
    font-family: monospace;
    color: green;
}

.priority {
    font-family: monospace; color: orange;
}

.tag {
    background-color: #eee; font-family: monospace;
    padding: 2px; font-size: 80%; font-weight: normal;
}

.timestamp {
    color: #bebebe;
}

.timestamp-kwd {
    color: #5f9ea0;
}

.org-right {
    margin-left: auto; margin-right: 0px;  text-align: right;
}

.org-left {
    margin-left: 0px;  margin-right: auto; text-align: left; }
.org-center { margin-left: auto; margin-right: auto; text-align: center; }
.underline { text-decoration: underline; }
#postamble p, #preamble p { font-size: 90%; margin: .2em; }
p.verse { margin-left: 3%; }
table {
    border-collapse:collapse;
    width: 100%;
}

caption.t-above {
    caption-side: top;
}

caption.t-bottom {
    caption-side: bottom;
}

td, th {
    vertical-align:top;
    padding: 1em;
}

th.org-right  { text-align: right;  }
th.org-left   { text-align: left;   }
th.org-center { text-align: center; }
td.org-right  { text-align: right;  }
td.org-left   { text-align: left;   }
td.org-center { text-align: center; }

dt { font-weight: bold; }
.footpara { display: inline; }
.footdef  { margin-bottom: 1em; }
.figure { padding: 1em; }
.figure p { text-align: center; }
.equation-container {
    display: table;
    text-align: center;
    width: 100%;
}
.equation {
    vertical-align: middle;
}
.equation-label {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}
.inlinetask {
    padding: 10px;
    border: 2px solid gray;
    margin: 10px;
    background: #ffffcc;
}
#org-div-home-and-up
{ text-align: right; font-size: 70%; white-space: nowrap; }
textarea { overflow-x: auto; }
.linenr { font-size: smaller }
.code-highlighted { background-color: #ffff00; }
.org-info-js_info-navigation { border-style: none; }
#org-info-js_console-label
{ font-size: 10px; font-weight: bold; white-space: nowrap; }
.org-info-js_search-highlight
{ background-color: #ffff00; color: #000000; font-weight: bold; }
.org-svg { }
