h1, h2, h3, h4 {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
}

h2 {
    border-bottom: 1px solid white;
}

p, span, label {
  font-family: 'Kantumruy Pro', sans-serif;
}

a, b, pre, pre span, .org-info-js_local-toc, li, .date {
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 300;
}

b {
    font-size: 0.9em;
}

code {
    padding: 0 0.5em;
}

