html {
    height: 100%;
}

body {
    margin: 0;
}

#content {
    padding: 1em;
}

@media screen and (min-device-width: 1200px) {
  #content {
    max-width: 80vw;
    margin: auto;
  }
}

@media screen and (orientation: landscape) {
  #content {
      max-width: 70vw;
      margin: auto;
  }
}

.src {
    margin: 0;
}

#postamble {
    margin: 300px 50px 0 50px;
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
}

#postamble .footer {
    text-align: center;
}

#org-div-home-and-up {
    font-size: 1em;
    text-align: unset;
    padding: 1em;
    background: hsl(32, 100%, 97%);
    color: black;
}

#org-div-home-and-up a:hover {
    color: black;
    border-bottom: none;
}

#org-div-home-and-up a {
    text-decoration: unset;
    margin: 0 0.5em;
    color: black;
}

#org-div-home-and-up span {
    font-family: 'Handlee', cursive;
    font-weight: 500;
    font-size: 1.2em;
    color: black;
}

