:root {
    --bg: hsl(266, 50%, 20%);
}

* {
    color: white;
}

body {
    background: hsl(266, 50%, 20%);
    background: linear-gradient(
        0deg,
        hsl(266, 50%, 20%) 0%,
        hsl(266, 50%, 30%) 20%,
        hsl(266, 50%, 30%) 80%,
        hsl(266, 50%, 20%) 100%
    );
    background-attachment: fixed;
}

.tag span, .tag span a {
    color: hsl(266, 50%, 20%);
}

.done, .todo {
    background: hsl(32, 100%, 97%);
    padding: 6px;
    border-radius: 4px;
}
